<div class="page-header">
  <div class="row">
    <div class="col-md-8">
      <% if @wikii.private? %>
      <h1><span class="glyphicon glyphicon-sunglasses"></span> <%= @wikii.title %></h1>
      <% else %>
      <h1><%= @wikii.title %></h1>
      <% end %>
      <small>Created <%= time_ago_in_words(@wikii.created_at) %> ago by <%= @wikii.user.username %>.</small>
    </div>

    <div class="col-md-4">
      <div class="pull-right">
        <% if current_user %>
          </br></br>
          <%= link_to "Edit", edit_wikii_path(@wikii), class: 'btn btn-success' %>
          <%= link_to "Delete", @wikii, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %>
        <% else %>
          </br></br></br>
          <small><a href="/users/sign_up">Sign Up</a> or <a href="/users/sign_in">Sign In</a> to edit a Wiki</small>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <p><%= @wikii.body %></p>
  </div>
</div>
